<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>login-signup</title>
    
    <style>
        body {margin:0;}
        
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #1f1e1e;
          position: fixed;
          top: 0;
          width: 100%;
        }
        
        li {
          float: right;
        }
        
        li a {
          display: block;
          color: rgb(115, 108, 248);
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #ffffff;
        }
        
        .active {
          background-color: #ffffff;
        }
        </style>
        </head>
        <body>
        
        <ul>
          <li style="float: left"><img src="static/fun.jpeg" width="120" height="45"></li>
          <li><a class="active" href="#login">Login</a></li>
          <li><a href="http://127.0.0.1:5000/#contact">Contact</a></li>
          <li><a href="http://127.0.0.1:5000/#about">About</a></li>
          <li><a href="{{ url_for('home') }}">Home</a></li>
        </ul>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="static/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="static/signupimg.jpeg" alt="">
        <div class="text">
          <span class="text-1">Every new friend is a <br> new adventure</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="static/loginimg.jpeg" alt="">
        <div class="text">
          <span class="text-3">Green Living with <br> Campus Pooling </span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form method="post" action="http://127.0.0.1:5000/login">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Enter your email" name="email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" name="password" required>
              </div>
            
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Signup now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Signup</div>
        <form method="post" action="http://127.0.0.1:5000/signup">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Enter your name" name="name" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Enter your email" name="email"required>
              </div>
              <div class="input-box">
                <i class="fas fa-phone"></i>
                <input  maxlength="10" minlength="10" type="number" placeholder="Enter your mobile number" name="number" required >
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" name="password" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Confirm password" name="cpassword" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
      </form>
  
    </div>
    </div>
    </div>
  </div>
</body>
</html>
